@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');


:root {
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;

    --fonte-padrao: 'inter';
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.50) 19.91%, rgba(12, 112, 242, 0.00) 24.84%), #303030;
    background-repeat: no-repeat;

}

/* NAVBAR */
#principal {
    width: 100%;
    height: 100px;
    background-color: var(--preto-dnc);

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA;
}

#principal button {
    margin-right: 5%;
    background-color: var(--azul-dnc);
    border: 0px;
    height: 40px;
    width: 80px;
    font-family: var(--fonte-padrao);
    font-size: 20px;
    font-weight: 600;
    color: white;

    box-shadow: 3px 2px 4px 0px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}

#principal div a {
    color: white;
    font-size: 25px;
    font-weight: 600;

    text-decoration: none;
    font-family: var(--fonte-padrao);
}

#principal div a:hover {
    color: var(--cinza-hover);
}

#menu {
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}

/*CABEÇALHO*/

header h1 {
    color: #FFF;

    font-family: var(--fonte-padrao);
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;

    margin-bottom: 20px;
}

header h2 {
    color: #FFF;

    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-bottom: 100px;
}

header .fundoEscuro {
    background-color: black;
    font-weight: bold;
    padding: 5px;
}

/* Seção principal do site */

section {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Formulario */

form {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 30px;
    font-weight: 600;
    width: 600px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group input {
    border-radius: 10px;
    height: 30px;
    border: 0px;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.90);
}

.form-group input::placeholder {
    color: rgba(57, 57, 57, 0.50);
}

.form-group label {
    margin: 10px 0px 10px 0px;
}

.checkbox-itens label {
    font-size: 25px;
}

.checkbox-itens {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="checkbox"] {
    transform: scale(1.7);
}

input[type="submit"] {
    background-color: rgba(12, 112, 242, 0.90);
    width: 100%;
    height: 49px;
    font-size: 30px;
    color: white;
    margin-top: 78px;
    box-shadow: 0px 3px 5px rgba(12, 112, 242, 0.25);
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
}

/* FOOTER */

footer {
    background-color: var(--azul-dnc);
    width: 100%;
}

footer .linha1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 380px;
}

footer h5 {
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 25px;
    font-family: var(--fonte-padrao);
    background-color: var(--preto-dnc);
    border-radius: 10px;

    padding: 5px 10px 5px 10px;
    margin-bottom: 15px;
}

footer ul li {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 25px;
    font-family: var(--fonte-padrao);

    margin: 20px 0px 20px 0px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    color: var(--cinza-hover);
}

footer .endereco {
    font-weight: 600;
    font-size: 18px;
    font-family: var(--fonte-padrao);
    color: white;
    text-align: center;
}

footer .linha2 {
    height: 35px;
    display: flex;
    justify-content: center;
    padding: 10px;
}


footer .linha2 a {
    font-family: var(--fonte-padrao);
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 5px;
}

footer .linha2 a:first-child{
    border-right: 3px solid white;
}

footer .linha2 a:hover{
    color: var(--cinza-hover);
}