@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/* NAVBAR */
#principal {
    width: 100%;
    height: 100px;
    background-color: #303030;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA;
}

#principal button {
    margin-right: 5%;
    background-color: #0C70F2;
    border: 0px;
    height: 40px;
    width: 80px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    color: white;

    box-shadow: 3px 2px 4px 0px rgba(12, 112, 242, 0.25);
}

#principal div a {
    color: white;
    font-size: 25px;
    font-weight: 600;

    text-decoration: none;
    font-family: 'Inter';
}

#principal div a:hover {
    color: #CCCCCC;
}

#menu {
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}